<div class="main-rent-selector">
    <!-- <a href="/main">
        <img src="/images/return-icon.png" alt="Box with arrow">
    </a> -->

    <!-- <div class="main-search-btn-container">
          <button class="btn btn-search" type="submit" onclick="closeForm()"></button>
        </div> -->
    <!-- <img class="btn btn-search" id="open-search" src="/images/lupa.png" alt=""> -->
    <!-- <a href="/main/rents">
        <img src="/images/rent-icon.png" alt="Rent icon">
    </a> -->
</div>