<!-- /notifications  list of notifications -->
<div class="container-notification">
    <div class="card-notification">
        Name: <%= article.title %><br>
        Date end: <%= rent.dateEnd%>
    </div>
    <div class="container-notification-btn">
        <a  class="btn" href="/notifications/<%= article.id %>/<%= rent.id %>">SHOW</a>
    </div>
</div>
<!-- Show only my rents -->
