<div>
    <form action="/article/<%= article._id %>/request" method="post">
        <label for="dateStart"></label>
        <input type="date" name="dateStart" id="dateStart">
        <label for="dateEnd"></label>
        <input type="date" name="dateEnd" id="dateEnd">
        <button type="submit">Request</button>
    </form>
</div>