<!-- /main/dashboard  &&  /main/rents -->
<div class="container-photo">
    <img src="<%= article.imgPath %>" alt="<% article.originalName%>"> </a>
</div>
<div class="container-text">
    <h3>Title: <%= article.title %> </h3>
    <h3>Date return: <%= rent.dateEnd%> </h3>
    <h3>Status: <%= rent.state%> </h3>
</div>