<!-- /main/dashboard  &&  /main/rents -->

<img src="<%= article.imgPath %>" alt="<% article.originalName%>"> </a>
<div class="card-sm-text">
    <span>Title:
        <%= article.title %> </span>
    <span>Date return:
        <%= rent.dateEnd%> </span>
    <span>Status:
        <%= rent.state%> </span>
</div>