//VARIABLES
$primary-color: #d6471b;
$secondary-color: rgb(248, 248, 248);
$primary-color-font: white;
$secondary-color-font: $primary-color;

$button-color: red;
$primary-text-color: black;
$secondary-text-color: #666;
$primary-color-link: #43a3e6;

$font-stack: "Lucida Grande",
Helvetica,
Arial,
sans-serif;

$font-size-lg:1.5rem;
$font-size-md:1.3rem;
$font-size-sm:0.8rem;
