//VARIABLES
$primary-color: #c590f0;
$secondary-color: rgb(233, 233, 233);
$primary-color-font: white;
$secondary-color-font: $primary-color;
$white: rgb(250, 250, 250);

$button-color: red;
$primary-text-color: black;
$secondary-text-color: #666;
$primary-color-link: #43a3e6;

$font-stack: "Lucida Grande",
Helvetica,
Arial,
sans-serif;

$font-size-lg:1.5rem;
$font-size-md:1.3rem;
$font-size-sm:0.8rem;
