<div class="container-logo">
    <img class="logo-signup" src="/assets/icons8-round-512.png" alt="">
</div>
</br>
<form class="form form-login"action="/user/login" method="POST" class="form">
    <input type="text" name="username" placeholder="username">

    <input type="password" name="password" placeholder="password">


    <button class="btn" type="submit">Log In</button>
</form>

<p class="account-message">
    Don't have an account? <a href="/user/signup">Sign up</a>
</p>