<div class="container-logo">
  <img class="logo-signup" src="/assets/icons8-round-512.png" alt="">
</div>
<h1>Sign up form</h1>

<form class="form" action="/user/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="username" <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password"><br>

  <div class="aux">
    <div>
      <label for="name">Name</label><br>
      <input type="text" name="name" placeholder="name">  </div>

    <div>
      <label for="lastName">Last name</label><br>
      <input type="text" name="lastName" placeholder="lastname">  </div>
  </div>

  <label for="telephone">Phone</label>
  <input type="text" name="telephone" placeholder="phone">

  <label for="email">Email</label>
  <input type="email" name="email" placeholder="email">

  <div>
    <label for="street">Street</label><br>
    <input type="text" name="street" placeholder="street"><br>

    <div class="form-signup-number aux">
      <div>
        <label for="number">Num</label><br>
        <input type="number" name="number" placeholder="number"><br>
      </div>

      <div>
        <label for="zipcode">Zip Code</label><br>
        <input type="number" name="zipcode" placeholder="zipcode"><br>
      </div>
    </div>

    <div class="aux">
      <div>
        <label for="city">City</label><br>
        <input type="text" name="city" placeholder="city"><br>
      </div>

      <div>
        <label for="country">Country</label><br>
        <input type="text" name="country" placeholder="country"><br>
      </div>

    </div>
  </div>

  <%/* if (errorMessage) {*/ %>
  <div class="error-message">
    <%/*= errorMessage */%>
  </div>
  <%/* } */%>
  <button class="btn" type="submit">+</button>
</form>