<div class="container-logo">
  <img class="logo-signup" src="/assets/icons8-round-512.png" alt="">
</div>
<h1>Sign up form</h1>


<form class="form" action="/user/signup" method="POST" enctype="multipart/form-data">

  <input type="hidden" id="lat" name="lat" value="">
  <input type="hidden" id="long" name="long" value="">

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="username"> <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password"><br>

  <div class="aux">
    <div>
      <label for="name">Name</label><br>
      <input type="text" name="name" placeholder="name"> </div>

    <div>
      <label for="lastName">Last name</label><br>
      <input type="text" name="lastName" placeholder="lastname"> </div>
  </div>

  <label for="photo-profile">Choose a Photo Profile</label>

  <input type="text" name="userImgName" id="userImgName">
  <input type="file" id="photo" name="photo" accept="image/png, image/jpeg"><br>

  <label for="telephone">Phone</label>
  <input type="text" name="telephone" placeholder="phone">

  <label for="email">Email</label>
  <input type="email" name="email" placeholder="email">
  <label>Direcction </label>
  <div id='map' style="width:300px;height:200px"></div>

  <%/* if (errorMessage) {*/ %>
  <div class="error-message">
    <%/*= errorMessage */%>
  </div>
  <%/* } */%>
  <button class="btn" type="submit">Create</button>
</form>