<div>
    <h2>Notifications</h2>
    <% articles.forEach((article) => {%>
        <%article.rent.forEach((rent) => {%>
            <div class="card-sm">
                <%- include('../partials/notifications-list', {article, rent});%>
            </div>
        <% })%>
    <% })%>
</div>