<div>
    <% articles.forEach((article) => {%>
        <%article.rent.forEach((rent) => {%>
            <%- include('../partials/rent-request-list', {article, rent});%>
        <% })%>
    <% })%>
</div>