<h2>All the Articles</h2>

<div class="list-card-lg">
  <% articles.forEach((article) => {%>
  <%- include('../partials/articles-list.ejs',{ article, currentUserId });%>
  
  <% })%>
  <div class="container-list-btn">
    <a class="btn" href="/article/new">New Article</a>
  </div>
</div>