<h2>All the Articles</h2>

<div>
  <ul>
    <% articles.forEach((article) => {%>
      <li>
        <a href="/article/<%= article._id %>">
          <%= article.title %>
          <%= article.imgPath %> </a>
          <form action="/article/<%= article._id %>/delete" method="POST">
            <input type="submit" value="Delete">
          </form>
      </li>
      <% })%>
  </ul>
  <a href="/article/new">create new article</a>
</div>