<h2>All the Articles</h2>

<div>

  <% articles.forEach((article) => {%>
    <%- include('../partials/articles-list.ejs',{ article, userID });%>  
  <% })%>

  <a href="/article/new">create new article</a>
</div>