<h2> New Article</h2><br>

<form class="form" id="form" action="/article/new" method="POST" enctype="multipart/form-data">
  <label for="title">Title</label><br>
  <input type="text" name="title" placeholder="Title" id="title"><br><br>

  <label for="price">Price / day €</label><br>
  <input type="text" name="price" placeholder="Price / day €" id="price"><br>

  <label for="cetegory">Category</label><br>
  <select name="category" id="category">
    <option value="visualArt">Visual Art</option>
    <option value="contemporany">Contemporany</option>
    <option value="decorativeArt">Decorative Art</option>
    <option value="abstractArt">Abstract Art</option>
    <option value="fineArt">Fine Art</option>
    <option value="modernist">Sculpture</option>
    <option value="realism">Realism</option>
    <option value="graffitiArt">Graffiti Art</option>
    <option value="music">Music</option>
  </select><br>

  <label for="image-article">Choose an article picture:</label><br>

  <input type="hidden" name="imgName" id="imgName">
  <input type="file" id="photo" name="photo" accept="image/png, image/jpeg"><br>
  
  <label for="type">Type</label><br>
  <select name="type" id="type">
    <option value="painting">Painting</option>
    <option value="sculpture">Sculpture</option>
    <option value="photography">Photography</option>
    <option value="prop">Prop</option>
    <option value="live art">Live Art</option>
    <option value="drawing">Drawing</option>
    <option value="music">Music</option>
  </select><br>

  <label for="description">Article Description</label><br>
  <input type="text" name="description" placeholder="Article Description" id="description">


  

  <%/* if (errorMessage) {*/ %>
    <div class="error-message">
      <%/*= errorMessage */%>
    </div>
  <%/* } */%>
  <button type="submit">Create article</button>
</form>

