// BASE
body {
  padding: 0;
  font-family: $font-stack;
  background-color: $secondary-color;
}
body *{
  box-sizing: border-box; 
}
body > div {
  margin-top: 7vh;
}

.main-container {
  padding: 10% 3% 5% 3%;
}

h1 {
  color: $primary-text-color;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: $font-stack;
}

h2 {
  color: $primary-text-color;
  text-align: center;
  padding: 1rem 0;
  font-size: $font-size-lg;
  font-family: $font-stack;

}

.main-container {
  padding: 0;
  margin:0;
  padding: 10% 3%;
}