<h1>test</h1>
<form action="/main/search" method="get">
    <label for="type"> Type</label>
    <select name="type" id="type">
        <option value="painting">Painting</option>
        <option value="sculpture">Sculpture</option>
        <option value="photography">Photography</option>
        <option value="prop">Prop</option>
        <option value="live art">Live Art</option>
        <option value="drawing">Drawing</option>
        <option value="music">Music</option>
    </select><br>
    <input type="date" name="dateInitial" id="dateInitial">
    <input type="date" name="dateFinal" id="dateFinal">
    <button type="submit">Search</button>
</form>