<div class="container-rent">
  <% articles.forEach((article) => {%>
  <% article.rent.forEach((rent) => {%>
  <div class="card-sm">
    <a href="/article/<%= article._id %>">
      <% if (rent.lesseeID == userID ){%>
      <!-- Show only my rents -->
      <%- include('../partials/rent-list', {article, rent}) %>
      <%} %>
    </a>
  </div>
  <% })%>
  <%}) %>
</div>

<div class="container-search">
  <h2>Search</h2>
  <form action="/main/search" method="get">
    <label for="type"> Type</label>
    <select name="type" id="type">
      <option value="painting">Painting</option>
      <option value="sculpture">Sculpture</option>
      <option value="photography">Photography</option>
      <option value="prop">Prop</option>
      <option value="live art">Live Art</option>
      <option value="drawing">Drawing</option>
      <option value="music">Music</option>
    </select><br>
    <input type="date" name="dateInitial" id="dateInitial">
    <input type="date" name="dateFinal" id="dateFinal">
    <div class= "container-search-btn">
        <button class="btn" type="submit">Search</button>
        <a class="btn"href="/article/new">Create Article</a>
    </div>
  </form>
</div>