<div class="main-rent">
  <% articles.forEach((article) => {%>
  <% article.rent.forEach((rent) => {%>
  <div class="card-sm">
      <% if (rent.lesseeID == userID ){%>
      <!-- Show only my rents -->
      <%- include('../partials/rent-list', {article, rent}) %>
      <%} %>
  </div>
  <% })%>
  <%}) %>
</div>

<div class="main-search">
  <h2>Search</h2>
  <form class="form" action="/main/search" method="get">
    <label for="type"> Type</label>
    <select name="type" id="type">
      <option value="painting">Painting</option>
      <option value="sculpture">Sculpture</option>
      <option value="photography">Photography</option>
      <option value="prop">Prop</option>
      <option value="live art">Live Art</option>
      <option value="drawing">Drawing</option>
      <option value="music">Music</option>
    </select><br>
    <label for="dateInitial">
      Rent start:
    </label>
    <input type="date" name="dateInitial" id="dateInitial">
    <label for="dateFinal">
      Rent end:
    </label>
    <input type="date" name="dateFinal" id="dateFinal">
    <div class="main-search-btn-container">
      <button class="btn" type="submit">Search</button>
    </div>
  </form>
</div>