<div class="main-rent">
  <h2>Dashboard</h2>
  <div>
    <% articles.forEach((article) => {%>
    <% article.rent.forEach((rent) => {%>
    <div class="card-sm">
      <% if (rent.lesseeID == userID ){%>
      <!-- Show only my rents -->
      <%- include('../partials/rent-list', {article, rent}) %>
      <%} %>
    </div>
    <% })%>
    <%}) %>
  </div>
</div>

<div class="main-search">
  <h2>Search</h2>
  <form id="search-form" class="form" action="/main/search" method="get">
    <div class="form-aux">
      <input type="hidden" id ="long" name="long" value="">
      <input type="hidden" id ="lat" name="lat" value="">
      <div class="aux">
        <div>
          <label for="type">Category</label><br>
          <select name="category" id="category">
              <option value="all">All</option>
            <option value="visualArt">Visual Art</option>
            <option value="contemporany">Contemporany</option>
            <option value="decorativeArt">Decorative Art</option>
            <option value="abstractArt">Abstract Art</option>
            <option value="fineArt">Fine Art</option>
            <option value="modernist">Sculpture</option>
            <option value="realism">Realism</option>
            <option value="graffitiArt">Graffiti Art</option>
            <option value="music">Music</option>
          </select>
        </div>

        <div>
            <label for="distance">Distance</label><br>
            <select name="distance" id="distance">
              <option value="100.0">1km</option>
              <option value="200.0">2km</option>
              <option value="500.0">5km</option>
              <option value="100.0">10km</option>
            </select>
        </div>

        <div>
          <label for="type"> Type</label><br>
          <select name="type" id="type">
              <option value="all">All</option>
            <option value="painting">Painting</option>
            <option value="sculpture">Sculpture</option>
            <option value="photography">Photography</option>
            <option value="prop">Prop</option>
            <option value="live art">Live Art</option>
            <option value="drawing">Drawing</option>
            <option value="music">Music</option>
          </select>
        </div>
      </div>

      <div class="aux">
        <div>
          <label for="dateInitial">
            Rent start:
          </label><br>
          <input type="date" name="dateInitial" id="dateInitial">
        </div>

        <div>
          <label for="dateFinal">
            Rent end:
          </label><br>
          <input type="date" name="dateFinal" id="dateFinal">
        </div>

      </div>

    </div>
    <div class="main-search-btn-container">
      <button class="btn" type="submit" >Search</button>
    </div>
  </form>

</div>