<div class="main-rent">
  <h2>Lessee</h2>
  <div>
    <% articles.forEach((article) => {%>
    <% article.rent.forEach((rent) => {%>
    <div class="card-sm">
      <% if (rent.lesseeID == userID ){%>
      <!-- Show only my rents -->
      <%- include('../partials/rent-list', {article, rent}) %>
      <%} %>
    </div>
    <% })%>
    <%}) %>
  </div>
</div>


