<h2>My rents</h2>
<div class = "container-rent">
  <% articles.forEach((article) => {%>
    <% article.rent.forEach((rent) => {%>
      <div class="card-sm">
        <a href="/article/<%= article._id %>">
          <%- include('../partials/rent-list', {article, rent})%>
        </a>
      </div>
    <% })%>
  <%}) %>
  <%- include('../partials/main-rent-selector') %>
</div>
