<div>
    <h2>Articles</h2>
    <% articles.forEach((article) => {%>
      <% if (article.userID != userID){%>
        <%- include('../partials/articleList.ejs',{ article });%>
      <% };%>
    <%})%>
  </div>