<h2>Search results</h2>
<div class="list-card-lg">
    <% articles.forEach((article) => {%>
  <% if (article.userID != currentUserId._id){%>
  <!-- If I'm not owner of the article, show -->
  <%- include('../partials/articles-list.ejs',{ article, currentUserId });%>
  <% };%>
  <%})%>
</div>