<div>
    <h2>Search results</h2>
    <% articles.forEach((article) => {%>
      <% if (article.userID != userID){%>
        <!-- If I'm not owner of the article, show -->
        <%- include('../partials/articles-list.ejs',{ article, userID });%>
      <% };%>
    <%})%>
  </div>