@charset 'utf-8';

//VARIABLES
$primary-color: #d6471b;
$secondary-color: rgb(248, 248, 248);
$primary-color-font: white;
$secondary-color-font: $primary-color;

$button-color: red;
$primary-text-color: black;
$secondary-text-color: #666;
$primary-color-link: #43a3e6;

$font-stack: "Lucida Grande",
Helvetica,
Arial,
sans-serif;

$font-size-lg:1.5rem;
$font-size-md:1rem;
$font-size-sm:0.8rem;

// BASE
body {
  padding: 0 5%;

}

.main-container {
  padding: 5% 5% 41% 5%;
}

h1 {
  color: $primary-text-color;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

h2 {
  color: $primary-text-color;
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;

}

.container-rent {
  width: auto;
  padding-top: 5%;
}

.container-logo {
  width: 80%;
  height: 100%;
}

.logo-signup {
  width: 50%;
  position: relative;
  left: 50%;
  margin-left: -10%;
}

.card-sm {
  height: 100px;
  padding: 3% 0 5% 0;
  border-bottom-color: #666;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-photo {
  max-width: 100%;

  padding: 0 3% 0 4%;

  img {
    max-width: 70%;
  }

}

.container-search {
  padding-top: 20%;
}

.container-text {
  max-width: 100%;
  padding: 10% 0 0 0;

  h3 {
    font-size: 10px;
  }
}

.container-menu-up {
  background-color: #43a3e6;
  padding: 8% 0 0 9%;

  a {
    padding-top: 2%;
    color: white;
    text-decoration: none;

  }

}

.container-menu-down {
  background-color: #43a3e6;
  padding: 8% 0 0 9%;

  a {
    padding-top: 2%;
    color: white;
    text-decoration: none;

  }

}


/* FORM */
#form {
  margin: 30px auto;
  width: auto;
}

.form-signup-number {
  display: flex;
  padding-right: 25px;
}

.form-signup-number input {
  padding-right: 10px;
}

.form-signup-number::-webkit-inner-spin-button,
.form-signup-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



// CARD-LG

.card-lg {

  img {
    width: 100%;
  }

  .card-lg-text {
    padding: 4% 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-size: $font-size-sm;
      color: $primary-color;
    }

    .card-lg-right {
      margin-top: $font-size-sm;
    }

  }

}


// BUTTON

.btn {
  color: $primary-color-font;
  background-color: $primary-color;
  border: none;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}




/* FORM */

.form {
  border-bottom: $primary-color solid 2px;
  background-color: $secondary-color;

  input {
    -webkit-appearance: none;
    border-bottom: $primary-color solid 2px;
    background-color: white;

  }
}


// MENU
.menu-icon{
  height: 10vh;
  width: 20%;
  background-color: $primary-color;
  img{
    height: 100%;
    width: 100%;
  }
}
.menu-content {
  background-color: $primary-color;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;

  float: left;

  a{
    text-decoration: none;
    color: white;

    div{
      padding: 1em;
    }
    &:hover{  
      background-color: rgba(255, 255, 255, 0.226);
    }
  }
  
}

.hidden{
  display: none;
}