@charset 'utf-8';

@import 'base/reset';

@import 'helpers/variables';
@import 'mixins/responsive';

@import 'base/base';

@import 'components/menu';
@import 'components/card-lg';
@import 'components/card-sm';
@import 'components/card-notification';
@import 'components/form';
@import 'components/map';
@import 'components/alert';
@import 'components/search-form';
@import 'components/button';

@import 'pages/login';
@import 'pages/main';
@import 'pages/show';
@import 'pages/articles-list';
@import 'pages/search';
@import 'pages/error';
@import 'pages/profile';

@import 'helpers/extras';

.account-message {
  text-align: center;
  font-size: 90%;

  a {
    text-decoration: none;
  }
}