@charset 'utf-8';

@import 'base/reset';

@import 'helpers/variables';

@import 'base/base';

@import 'components/menu';
@import 'components/card-lg';
@import 'components/card-sm';
@import 'components/card-notification';
@import 'components/form';
@import 'components/alert';
@import 'components/button';

@import 'pages/login';
@import 'pages/main';

@import 'helpers/extras';

.account-message {
  text-align: center;
  font-size: 90%;

  a {
    text-decoration: none;
  }
}



// NOTIFICATION

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}