.container-list-btn {
    display: flex;
    justify-content: space-between;
    .btn {
        margin: 0.5rem 0.5rem;
        padding: 0.6rem
    }
}

.delete {
    margin-top: -1rem;
    max-width: 2rem;
    width: 2rem;
    max-height: 2rem;
    height: 2rem;
    padding: 0.2rem; 
    img{
        width: 100%;
    }
}