// LOGIN LOGO
.container-logo {
    width: 80%;
    height: 100%;
    left: 50%;
    margin-left: 10%;
}

.logo-signup {
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;
}


.form-login {
    margin: 35% auto;
}