.main-rent {
    width: auto;
    padding-top: 5%;

    @include respond-to('medium') {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.main-search {
    padding: 0 3%;
    margin: auto;

    .form-aux {
        margin: auto;
    }

    .main-search-dates,
    .main-search-tags {
        display: flex;
        margin: auto;
    }

    @include respond-to('medium') {
        width: 30%;

        .form-aux {
            margin: auto;
        }

        .aux {
            display: flex;
            flex-direction: column;
            margin: 0.2rem 0.2rem;
        }

    }
}

.main-search-btn-container {
    display: flex;
    justify-content: center;
}

.container-search {
    display: flex;
    padding: 0 2% 10% 0;

}