
.main-rent {
    width: auto;
    padding-top: 5%;
    & > div {
        // border: red solid 1px;
        max-height: 35vh;
        overflow: scroll;
    }
    @include respond-to('medium') {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}


.main-search {
    
    margin: auto;

    .aux {
        margin-bottom: 0.8rem;
    }

    @include respond-to('medium') {
        width: 40%;
       
        .form-aux {
            display: flex;
            flex-direction: column;
        }

        .aux {
            flex:1;
            display: flex;
            flex-direction: row;
           
        }

    }
}

.main-search-btn-container {
    display: flex;
    justify-content: center;
}

.container-search {
    display: flex;
    padding: 0 2% 10% 0;

}
