.profile-header {
  display: flex;
  background-color: $white;
  border-radius: 10px;
  height: 30%;
  padding-bottom: 16%;
  margin-bottom: -22%;
}
.container-photo-profile {
  padding: 5%;
  max-width: 50%;
}
.container-text-profile {
  padding: 8% 0;
}
.img-profile {
  padding-top:10%; 
  width: 60%;
  border-radius: 50%;
}
.profile-info {
  background-color: $white;
  border-radius: 10px;
  padding:5% 0 10% 3%;
  margin-top:15%;
  p {
      padding-top: 1%;
  }
}
.profile-header-buttons {
  display: flex;
  position: relative;
  padding-left: 45%;
  bottom: 66%;
  align-items: center;
}
.btn-header {
  padding-right: 7%;
}
.heart-icon-profile {
  padding:1%;
  img {
    width: 50%;
  }

}
.user-img-update {
    width: 80%;
    height: 100%;
    left: 50%;
    padding: 9% 0 5% 33%;
  img{
    border-radius: 50%;
    width: 80%;
  }
  
}