.alert {
    padding: 0.5rem 1rem;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    width: 100%;

}

.alert-danger {
    background-color: rgb(255, 173, 173);
    border-color: rgb(255, 111, 111);
}

.alert-success {
    background-color: rgb(172, 255, 139);
    border-color: rgb(154, 255, 114);
}