// BUTTON

.btn {
  color: $primary-color-font;
  background-color: $primary-color;
  border: none;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-justify: center;
  font-size: $font-size-md !important;
}
.btn-articles-fav {
  img { 
    width: 50%;
}
}