// CARD SMALL

.card-sm {
  background-color: $white;
  margin: 0.5rem 0;
  max-height: 15vh;
  border-radius: 10px;
  display: flex;
  flex:1;

  // card-sm-img
 

  img, a {
    border-radius: 10px 0 0 10px;
    max-width: 100%;
    height: auto;
    max-height: 15vh;
    margin-left: 0.5rem 0;
  }

  .card-sm-text {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    width: 60%;
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      color: $primary-color;
      font-size: $font-size-md;
    }

    span {
      font-size: $font-size-sm;
    }
  }

  @include respond-to('medium') {
    max-width: 25%;
    display: flex;
    flex-direction: column;
  }

}