// CARD SMALL

.card-sm {
  padding: 3% 0 5% 0;
  display: flex;
  flex:1;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  // card-sm-img
  a {
    width: 40%;

    img {
      width: 100%;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 40vh;
  }

  .card-sm-text {
    width: 60%;
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-size: $font-size-sm;
    }
  }

  @include respond-to('medium') {
    max-width: 25%;
    display: flex;
    flex-direction: column;
  }

}