// CARD-LG

.card-lg {
    background-color: $white;
    border-radius: 10px;

    a {
      div {
        height: 20vh;
        overflow: hidden;
        position: relative;
        z-index: 0;
      }
    }

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      position: absolute;
      top:-50%;
    }
    .btn {
      font-size: $font-size-sm;

    }
    .info {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;

      .title {
        color: $primary-color;
        text-align: left;
        font-size: $font-size-lg;
      }
      span{
        padding: 0.2rem 0;
      }
    }
  
    .card-lg-text {
      padding: 4% 2%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        justify-content: space-between;
      }
  
      span {
        font-size: $font-size-sm;
        color: $primary-color;
      }
  
    }
    @include respond-to('medium') {
      max-width: 25%; 
      
      
    }
  
  }