// FORM
.form {
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem 0.5rem;

    input {
      height: 1.5rem;
      border: none;
      border-bottom: $primary-color solid 1px;
      margin-bottom: 1rem;
    }

    .aux {
      display: flex;
      div {
        margin: 0 0.2rem 0 0;
        flex:1;
      }
      input {
        width: 100%;
      }
    }
    @include respond-to('medium') {
      // width: 30%;
    }
  }