// MENU
.menu {
  position: relative;
}
.menu-username {
  padding-right: 10%;

  align-self: center;
  a {
    text-decoration: none;
    color:white;
    font-size:$font-size-md;  
  } 
} 

.menu-bar {
  // box-sizing: border-box;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    right: 0;
    height: 7%;
    background-color: $primary-color;
    border-bottom: $white solid 2px;
  
    .menu-bar-right{
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img {
      height: 70%;
      width: 30px;
      margin:0.2rem;
    } 
    
  }
  .menu-user {
    position: fixed;
    z-index: 997;
    top:0;
    width: 90%;
    display: flex;
    justify-content: center;

    a {
      position: fixed;
      z-index: 999;
    }

    .menu-user-img {
      position: fixed;
      z-index: 998;
      width: 3.3rem;
      height: 3.3rem;
      border-radius: 50%;
      margin-top:2vh;
    }
  }
  .menu-content {
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    z-index: 50;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    float: left;
    display: flex;
    flex-direction: column;
    padding-top: 10%; 
    font-size: $font-size-lg;
  
    a {
      text-decoration: none;
      color: white;
      // flex:1;
      display: flex;
      align-items: center;
      justify-content: center;
  
      div {
        padding: 1em;
      }
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.226);
      }
    }
  
  }