.search-form {
    background-color: $primary-color;
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 96vh;
    margin: auto;
    border-radius: 0;
    
    .aux {
        margin-bottom: 0.8rem;
    }

    .form {
        position: absolute;
        top:10%;
        z-index: 21;
        border-radius: 0;
        font-size: 1.5rem;
    }
}

.main-search-btn-container {
    display: flex;
    justify-content: center;
}